@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@font-face {
    font-family: 'bernier';
    src: url('../fonts/BERNIERRegular-Regular.otf'), url('../fonts/BERNIERShade-Regular.otf'), url('../fonts/BERNIERDistressed-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf'), url('../fonts/Roboto-MediumItalic.ttf'), url('../fonts/Roboto-Medium.ttf'), url('../fonts/Roboto-LightItalic.ttf'), url('../fonts/Roboto-Light.ttf'), url('../fonts/Roboto-Italic.ttf'), url('../fonts/Roboto-BoldItalic.ttf'), url('../fonts/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@mixin bernier() {
    font-family: 'bernier', serif;
}