// Обнуление позиционирования
%clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
// Центрирование элемента
@mixin centered($axis:'both') {
    position: absolute;
    @if $axis=='x' {
        left: 50%;
        transform: translateX(-50%);
    }
    @if $axis=='both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @if $axis=='y' {
        top: 50%;
        transform: translateY(-50%);
    }
}
// Адаптивность

@mixin desktop {
    @media (min-width: 1800px) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1200px) and (max-width: 1799px) {
        @content;
    }
}

@mixin tablets {
    @media (min-width: 768px) and (max-width: 1199px) {
        @content;
    }
}

@mixin phones {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin landscape {
    @media (orientation: landscape) {
        @content;
    }
}